{% extends "base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}


   
<hr class="green">
    <div class="container">
        <div class="content-area content-po">
            <h3><span>Ur</span> Hired</h3>
            <h4>Anirban Dutta <span>(Chief Hustler)</span></h4>
            <h6>Mobile:</h6> <a href="tel:+918588049606">+91-8588049606</a><br/>
            <h6>Email:</h6> <a href="mailto:anirban@urhired.co">anirban@urhired.co</a>
        </div>
    </div>



{% block jscode %}

{% endblock %}
{% endblock %}
