{% extends "base.html" %}

{% load static %}
{% get_static_prefix as STATIC_PREFIX %}





   {% block content %}






<section >
  <div >
    <div >
      <div class="item active"> <img src="{{ STATIC_PREFIX }}assets/images/banner.jpg" alt="banner" class="img-responsive">
        <div class="carousel-caption"> The idea is to change the world,<br/>
          one great hiring at a time. </div>
      </div>
    </div>
  </div>
</section>
<div class="container">
  <article class="main-content">
    <h1>Who are we for?</h1>
    <h3>We are trying to solve leadership <br/>
      Talent Acquisition Challenges in a scalable fashion.</h3>
    <p>The vision is to create "Insanely Great" organisation by solving mission critical Talent Acquisition Challenges. We are at a beta stage, hence focusing on IT/ ITES and Analytics Industries only. We don't have the bandwidth to solve every Talent Acquisition
      problems(Would love to,though-hopefully,another day,another time),hence we are trying to focus on hiring @ Leadership Level as such positions have the strongest cascading effects and a lasting Impact.. ..The idea is to change the world, one great hiring
      at a time..:) </p>
  </article>
</div>
<section class="people-say">
  <h3>What people are saying!</h3>
  <div class="say-inner">
    <div class="container">
      <div id="carousel-example-generic1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-generic1" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-generic1" data-slide-to="1"></li>
          <li data-target="#carousel-example-generic1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
          <div class="item active">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-md-3 col-sm-4">
                    <div class="pro-pic"></div>
                  </div>
                  <div class="col-md-9 col-sm-8">
                    <article class="testimonials">
                      <p>Thank you for your support during my selection process with Accenture. You and your organization were professional throughout the entire hiring process and provided latest updates at regular intervals.Changing jobs can be a very cumbersome process but with your help and insights everything sailed through very smoothly. It was a pleasure interacting with you please keep up the awesome work you are doing and keep in touch !

</p>
                      <h5>Kumar Parivesh,<br/>
                        <em>VP Accenture</em></h5>
                    </article>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-md-3 col-sm-4">
                    <div class="pro-pic"></div>
                  </div>
                  <div class="col-md-9 col-sm-8">
                    <article class="testimonials">
                      <p>I would like to take this opportunity to thank Anirban for his dedication,
sincerity and hard work towards closing many positions successfully.He is extremely focused and goes the extra mile in ensuring that he is
involved till the end.I sincerely acknowledge the hard work he has put in and appreciate the
efforts and involvement towards closures.</p>
                      <h5>Charu Anand Mehra<br/>
                        <em>(Ex TA Leader,IBM Daksh)</em></h5>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-md-3 col-sm-4">
                    <div class="pro-pic"></div>
                  </div>
                  <div class="col-md-9 col-sm-8">
                    <article class="testimonials">
                      <p>It was a pleasure working with Anirban. He had an extremely good understanding of the role he was talking to me about. His promptness to get the queries resolved and presence like a consultant through the recruitment process helped me a great deal.

I was impressed with his commitment and professionalism throughout. Years later after the interaction I still have the comfort to reach out to him for support and he has not failed me.</p>
                      <h5>Amita Verma<br/>
                        <em>Senior Director,Convergys</em></h5>
                    </article>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-md-3 col-sm-4">
                    <div class="pro-pic"></div>
                  </div>
                  <div class="col-md-9 col-sm-8">
                    <article class="testimonials">
                      <p>Anirban is undoubtedly  an asset !

The leaders that  are onboard in IBM today  are the testimony of his passion , dedication & commitment.</p>
                      <h5>Amrita Dhar<br/>
                        <em>Manager,TA,Capgemini</em></h5>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="row">
              <div class="col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-md-3 col-sm-4">
                    <div class="pro-pic"></div>
                  </div>
                  <div class="col-md-9 col-sm-8">
                    <article class="testimonials">
                      <p>Anirban has been instrumental in head hunting me for my current assignment. He has been very professional, focused and open in his approach to the whole process.</p>
                      <h5>Amit RoyChowdhury<br/>
                        <em>Global FPnA Head,EXL</em></h5>
                    </article>
                  </div>
                </div>
              </div>
              <div class="col-md-6 col-sm-6">
                <div class="row">
                  <div class="col-md-3 col-sm-4">
                    <div class="pro-pic"></div>
                  </div>
                  <div class="col-md-9 col-sm-8">
                    <article class="testimonials">
                      <p>Thank you for your support during my selection process. You were very instrumental in head hunting me for my current assignment. I was very impressed with the entire process and your professionalism. I wish you all the best for your future endeavors. Keep in touch !</p>
                      <h5>Kamal Asarpota<br/>
                        <em>Associate Director,Concentrix,Philippines</em></h5>
                    </article>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


{% endblock %}
