{% extends "base.html" %}
{% load static %}
{% get_static_prefix as STATIC_PREFIX %}

{% block content %}



<hr class="green">
    <div class="container">
   	  <div class="jobseekers">
      	<h1>Jobseeker</h1>

        <div class="row">
           <div class="modal fade" id="forgot_password_modal" role="dialog">
          <div class="modal-dialog">


          </div>
        </div>
        	 <div class="col-md-6 col-sm-6">
            	<h2>Sign up as Jobseeker</h2>
                <form role="form" id="signupForm" method="post" action="">
                  {% csrf_token %}
                  <div class="form-group">
                    <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name*" value='{{ form.jseekers_firstname }}'>
                    <p>What mother calls you!</p>
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name*" value='{{ form.jseekers_lastname }}'>
                    <p>What colegues call you. Well at times!</p>
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" id="email" name="email" placeholder="Email*" value='{{ form.email}}'>
                    <p>It's also sign in name. has to be legit!</p>
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" id="pass" name="pass" placeholder="Password*" value='{{ form.password1 }}'>
                    <p>Something you'll remember but hard to guess;</p>
                  </div>
                   <div class="form-group">
                    <input type="password" class="form-control" id="conf_pass" name="conf_pass" placeholder="Retype Password*" value='{{ form.password2 }}'>
                    <p>Type it again; Think of it as game!</p>
                  </div>
                  <button type="submit" name="submit" value="register" class="btn btn-success">Register Now</button>
                  {{ form.as_p }}
                </form>
            </div>
              <div class="col-md-6 col-sm-6">
            	<div class="login-area">
                	<h3>Login as Jobseeker</h3>
                     <form role="form" action="" method="post">
                      <div class="form-group">
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email*">
                      </div>
                      <div class="form-group">
                        <input type="password" class="form-control" id="password" name="password" placeholder="Password*">
                      </div>
                      <div class="row">
                      	<div class="col-md-6 col-sm-6">
                        <a href="#" data-toggle="modal" data-target="#forgot_password_modal"  style="color:white"; }>Forgot password ?</a>
                        </div>
                        <div class="col-md-6 col-sm-6">
                        	<button type="submit" name="submit" value="login" class="btn btn-default">Log in Now</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
      </div>
    </div>



{% endblock %}
